 @font-face {
    font-family: 'futura';
    src: url(../fonts/futura/FuturaBook.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}


@font-face {
    font-family: 'futurabold';
    src: url(../fonts/futura/futur.ttf);
    font-style: normal;
    font-display: swap; 
    font-weight: 100 900;
    }



html{
    --red: #A72608;
    --white: #E7E5E5;
    --blue-gray: #767b91;
    --light-gray: #EBEBEB;
    --beige: #D9D2C5;
    --gray-black: #222222;
    --black: #0a0a0a;


    --color-background: var(--white);
    color: var(--black);

    --font: 'futura', Arial, sans-serif; 
    --bold: 'futurabold', arial, sans-serif; 
}

body {
    color: var(--black);
    font-family: var(--font);
    line-height: 1.6;

    .body {
        padding: 20px;
    }

    h1, h2, h3, h4{
        font-family: var(--bold);
      }
  }

  a {
    text-decoration: none;
    color: var(--black);
  }

#work {
    padding: 20px;
}

* {
    box-sizing: border-box;
} 

img {
    /* height: auto;
    width: 100%; */
    filter: drop-shadow(0 8px 16px rgba (0,0,0, 0.6));
}




header {
  background: var(--gray-black);
  color: var(--white);
  padding: 0.3rem;
  position: relative;

  a {
    color: var(--white);
  }
  
  label {
    cursor: pointer;
    height: 1.25rem;
    position: fixed;
    right: 1rem;
    top: 2.2rem;
    width: 1.625rem;
    z-index: 1001;
  
    span {
      background-color: var(--white);
      border-radius: 2px;
      display: block;
      height: 3px;
      position: absolute;
      width: 100%;
      transform-origin: left;
  
      &:nth-child(1) {
        top: 0;
      }
  
      &:nth-child(2) {
        top: 0.5rem;
      }
  
      &:nth-child(3) {
        top: 1rem;
      }
    }
  }
}

/* nav */
nav {
  background: var(--gray-black);
  height: 100vh;
  width: 18.75rem;
  position: fixed;
  right: -300px;
  top: 0;
  z-index: 1000;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 2rem;
  
    li {
       margin-bottom: 1rem;
  
      a {
        color: var(--white);
        font-family: var(--bold);
        text-decoration: none;
      }
    }
  }
}
  
  /* Show nav when checkbox is checked */
  .nav-toggle:checked ~ nav {
    right: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg);
    top: -2px; /* Fix */
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }
  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg);
  }





    
    .project {
        background-color: var(--light-gray);
        margin: 15px;
        padding: 20px;
        border-radius: 8px;
        box-shadow : 0 2px 4px rgba(0, 0, 0, 0.2);
     }

    .intro {
        text-align: center;
        color: var(--white);
        background-image: url("../media/introbg\ copy.jpg");
        padding: 20px;
        padding-bottom: 40px;

        .cta {
          text-decoration: none;
          color: var(--white);
          background: var(--red);
          padding: 15px;
          border-radius: 15px;
        }
    }

    


    /* Footer  */
footer {

  background-color: var(--gray-black);
  color: var(--white);
  text-align: center;
  padding: 15px;
  font-size: 12px;

  .social {
    margin-bottom: 1rem;
  
    .social a {
      display: inline-block;
      margin: 0 0.5rem;
      transition: transform 0.3s ease;
    }
  
    a:hover {
      transform: scale(1.1);
    }
  
    img {
      width: 24px;
      height: 24px;
    }
  }
}




    



