 @font-face {
    font-family: 'futura';
    src: url(../fonts/futura/FuturaBook.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}


@font-face {
    font-family: 'futurabold';
    src: url(../fonts/futura/futur.ttf);
    font-style: normal;
    font-display: swap; 
    font-weight: 100 900;
    }



html{
    --red: #A72608;
    --white: #E7E5E5;
    --blue-gray: #767b91;
    --blue: #0e1afb;
    --light-gray: #EBEBEB;
    --beige: #D9D2C5;
    --gray-black: #222222;
    --black: #0a0a0a;


    --color-background: var(--white);
    color: var(--black);

    --font: 'futura', Arial, sans-serif; 
    --bold: 'futurabold', arial, sans-serif; 
}




/* header*/
header {
  background: var(--gray-black);
  color: var(--white);
  padding: 0.3rem;
  position: relative;

  a {
    color: var(--white);
  }
  
  label {
    cursor: pointer;
    height: 1.25rem;
    position: absolute;
    right: 1rem;
    top: 2.2rem;
    width: 1.625rem;
    z-index: 1001;
  
    span {
      background-color: var(--white);
      border-radius: 2px;
      display: block;
      height: 3px;
      position: absolute;
      width: 100%;
      transform-origin: left;
  
      &:nth-child(1) {
        top: 0;
      }
  
      &:nth-child(2) {
        top: 0.5rem;
      }
  
      &:nth-child(3) {
        top: 1rem;
      }
    }
  }
}

/* nav */
nav {
  background: var(--gray-black);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 18.75rem;
  position: fixed;
  right: -300px;
  top: 0;
  z-index: 1000;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 2rem;
  
    li {
       margin-bottom: 1rem;
  
      a {
        color: var(--white);
        font-family: var(--bold);
        text-decoration: none;
      }
    }
  }
}
  
/* Show nav when checkbox is checked */
.nav-toggle:checked ~ nav {
  right: 0;
}
  
.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
  transform: rotate(45deg);
  top: -2px; /* Fix */
}
  
.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
  transform: rotate(-45deg);
}


/* body */
body {
  color: var(--black);
  font-family: var(--font);
  line-height: 1.6;
  max-width: 900px;
  

  .body {
      padding: 20px;
  }

  h1, h2, h3, h4{
      font-family: var(--bold);
      margin-bottom: 0px;
    }

    h3{
      padding-top: 20px;
      padding-bottom: 0px;
    }
  
}


/* links */
a {
  text-decoration: none;
  color: var(--black);
}

#work {
  padding: 20px;
  max-width: 900px;
}

* {
  box-sizing: border-box;
} 

img {
  height: auto;
  width: 100%;
  max-width: 600px;
  filter: drop-shadow(0 8px 16px rgba (0,0,0, 0.6));
}



.project {
  background-color: var(--light-gray);
  margin: 15px;
  margin-top: 5px;
  padding: 20px;
  padding-top: 5px;
  border-radius: 8px;
  box-shadow : 0 2px 4px rgba(0, 0, 0, 0.2);

  a {
    color: var(--blue);
    font-family: var(--bold);
  }
  
  a:hover {
    text-decoration: underline;
  }
}

.project:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.intro {
  text-align: center;
  color: var(--white);
  background-image: url("../media/introbg\ copy.jpg");
  padding: 20px;
  padding-bottom: 40px;
  
  .cta {
    text-decoration: none;
    color: var(--white);
    background: var(--red);
    padding: 15px;
    border-radius: 15px;
  }
  
  .cta:hover {
    background: var(--blue-gray);
  }
}


/* Case study */
.title {
  text-align: center;
  background: linear-gradient(to right, var(--red), var(--blue));
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* media */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
  
  .photo {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: var(--white); 
    text-align: center;
    font-size: 12px;
  }
}


/* About */
.about {
  padding: 20px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    color: var(--red);
  }

  span{
    font-family: var(--bold);
  }
}


  .photo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    border-color: var(--red);
    border-width: 5px;
    border-style: solid;

    img{
      border-radius: 50%;
    }
  }

  .skills {
    margin-top: 10px;
    margin-bottom: 10px;

    h3{
      margin-bottom: 10px;
    }

    
  }
  .skills{
    
    span {
      display: inline-block;
      background: var(--red);
      color: var(--white);
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 12px;
      margin: 5px;
    }

  span:hover {
    background: var(--blue)
  }
}

/* Footer  */
footer {
  background-color: var(--white);
  color: var(--black);
  text-align: center;
  padding: 15px;
  font-size: 12px;

  .social {
    margin-bottom: 1rem;
  
    img {
      width: 24px;
      height: 24px;
    }
  }
}
    